.modal__content_type_image {
  background-color: antiquewhite;
  opacity: 92%;
  padding: 0;
  position: relative;
  margin: auto;
  border-radius: 10px;
  border-style: solid;
  border-color: #392a19;
  box-sizing: border-box;
}

.modal__image {
  width: 90%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  mix-blend-mode: multiply;
}

.modal__description {
  margin: 0;
  padding: 10px 40px 10px 40px;
  font-family: Cabinet Grotesk;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;

  background-color: #392a19;
  color: white;
}

.modal__header {
  margin: 0;
  padding: 10px 40px 10px 40px;
  font-family: Cabinet Grotesk;
  font-size: 100%;
  font-weight: 1000;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #392a19;
  color: white;
  letter-spacing: 4px;
}

#exercise-card {
  top: 50px;
  right: 8px;
}
