.profile {
  padding: 0 10px;
}

.profile__page-container {
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.profile__text {
  color: white;
  margin: 0;
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px #222;
  opacity: 0.9;
}

.profile__button {
  background-image: url(../../images/addicon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  transition: 0.1s ease-in-out;
  background-color: beige;
  border-radius: 50%;
  opacity: 0.6;
}

.profile__button:hover {
  opacity: 1;
}

@media screen and (max-width: 430px) {
  .profile__page-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 1px;
  }

  .profile__text {
    font-size: 20px;
  }
}
