.exercise {
  max-width: 900px;
  margin: auto;
}

.exercise__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

@media screen and (max-width: 430px) {
  .exercise {
    margin-top: 100px;
  }
}
