.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.footer__text {
  font-family: Cabinet Grotesk, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 0;
  color: white;
  opacity: 0.7;
}

@media screen and (max-width: 430px) {
  .footer {
    display: flex;
    padding-top: 10px;
  }
}
