.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.footer__text {
  font-family: Cabinet Grotesk;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 0;
  color: white;
  opacity: 0.7;
}

@media screen and (max-width: 430px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
